*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: poppins;
    src: url(../poppins/Poppins-Medium.ttf);
}
    
